{% extends 'base.html.twig' %}
{% block body %}
    <form method="post">
        <table class="table table-success table-striped table-responsive">
            <thead>
            <tr>
                <th scope="col">{{ langs.trans('Label') }}</th>
                <th scope="col">{{ langs.trans('HasWebsite') }}</th>
                <th scope="col">{{ langs.trans('HasFTP') }}</th>
                <th scope="col">{{ langs.trans('HasDatabase') }}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% if res > 0 %}
                {% for result in res %}
                    <tr>
                        <input type="hidden" name="id" value="{{ result.id }}"/>
                        <input type="hidden" name="action" value="edit"/>
                        <td><label>
                                <input type="text" name="label" value="{{ result.label }}"/>
                            </label></td>
                        {% if result.website > 0 %}
                            <td class="text-center"><img src="{{ main_url }}/themes/{{ theme }}/img/yes.png" alt="yes.png"/></td>
                        {% else %}
                            <td class="text-center"><img src="{{ main_url }}/themes/{{ theme }}/img/no.png" alt="no.png"/></td>
                        {% endif %}
                        {% if result.ftp > 0 %}
                            <td class="text-center"><img src="{{ main_url }}/themes/{{ theme }}/img/yes.png" alt="yes.png"/></td>
                        {% else %}
                            <td class="text-center"><img src="{{ main_url }}/themes/{{ theme }}/img/no.png" alt="no.png"/></td>
                        {% endif %}
                        {% if result.data_base > 0 %}
                            <td class="text-center"><img src="{{ main_url }}/themes/{{ theme }}/img/yes.png" alt="yes.png"/></td>
                        {% else %}
                            <td class="text-center"><img src="{{ main_url }}/themes/{{ theme }}/img/no.png" alt="no.png"/></td>
                        {% endif %}
                        <td>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <input class="btn btn-info" type="submit" name="submit" value="{{ langs.trans('Confirm') }}"/>
                                <input type="button" class="btn btn-danger" value="{{ langs.trans('Cancel') }}" onclick="javascript:history.go(-1)">
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </form>
{% endblock %}