{% extends 'base.html.twig' %}
{% block nav_menu %}
    <nav class="navbar navbar-expand bg-body-secondary">
        <div class="container">
            <a class="navbar-brand" href="{{ main_url }}">
                <img src="{{ main_url }}/themes/{{ theme }}/img/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top me-2">
                {{ app_title }}</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ main_url }}">{{ langs.trans('Domains') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ main_url }}/records.php">{{ langs.trans('Records') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ main_url }}/index.php?action=add_domain">{{ langs.trans('AddDomain') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ main_url }}/records.php?action=add_record">{{ langs.trans('AddRecord') }}</a>
                    </li>
                </ul>
                {% if user.id > 0 %}
                    <form class="d-flex" role="search" method="post">
                        <input type="hidden" name="action" value="search"/>
                        <input class="form-control me-2" name="search_string" type="text" placeholder="{{ langs.trans('Search') }}..." aria-label="Search">
                        <input class="btn btn-outline-success" type="submit" name="submit" value="{{ langs.trans('Search') }}"/>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>
    {% if user.id > 0 %}
        <nav class="navbar navbar-expand bg-body-tertiary">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex ms-auto">
                        {% if user.first_name or user.last_name %}
                            <span class="me-3">{{ langs.trans('Hi') }}, <b>{{ user.first_name }} {{ user.last_name }}</b></span>
                        {% else %}
                            <span class="me-3">{{ langs.trans('Hi') }}, <b>{{ user.username }}</b></span>
                        {% endif %}
                        <a class="nav-link me-3" aria-current="page" href="profile.php"><i class="bi bi-person-fill"></i>&nbsp;{{ langs.trans('Profile') }}</a>
                        <a class="nav-link" aria-current="page" href="{{ main_url }}?action=logout"><i class="bi bi-box-arrow-right"></i>&nbsp;{{ langs.trans('Logout') }}?</a>
                    </div>
                </div>
            </div>
        </nav>
    {% endif %}
    <div class="flex-grow-1 bg-light">
        <div class="container mt-5">
{% endblock %}