{% extends 'base.html.twig' %}
{% block body %}
    <h6>{{ count }}</h6>
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">{{ langs.trans('Label') }}</th>
            <th scope="col">{{ langs.trans('HasWebsite') }}</th>
            <th scope="col">{{ langs.trans('HasFTP') }}</th>
            <th scope="col">{{ langs.trans('HasDatabase') }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% if res > 0 %}
            {% for result in res %}
                <tr>
                    <td>{{ result.label }}</td>
                    {% if result.website %}
                        <td><img src="{{ main_url }}/themes/{{ theme }}/img/yes.png" alt="yes.png"/></td>
                    {% else %}
                        <td><img src="{{ main_url }}/themes/{{ theme }}/img/no.png" alt="no.png"/></td>
                    {% endif %}
                    {% if result.ftp %}
                        <td><img src="{{ main_url }}/themes/{{ theme }}/img/yes.png" alt="yes.png"/></td>
                    {% else %}
                        <td><img src="{{ main_url }}/themes/{{ theme }}/img/no.png" alt="no.png"/></td>
                    {% endif %}
                    {% if result.data_base %}
                        <td><img src="{{ main_url }}/themes/{{ theme }}/img/yes.png" alt="yes.png"/></td>
                    {% else %}
                        <td><img src="{{ main_url }}/themes/{{ theme }}/img/no.png" alt="no.png"/></td>
                    {% endif %}
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <form method="post">
                                <input type="hidden" name="id" value="{{ result.id }}"/>
                                <input type="hidden" name="action" value="view_records"/>
                                <input class="btn btn-primary btn-sm" type="submit" name="submit" value="{{ langs.trans('ViewRecords') }}"/>
                            </form>
                            <form method="post">
                                <input type="hidden" name="id" value="{{ result.id }}"/>
                                <input type="hidden" name="action" value="edit"/>
                                <input class="btn btn-success btn-sm" type="submit" name="submit" value="{{ langs.trans('Edit') }}"/>
                            </form>
                            <form method="post">
                                <input type="hidden" name="id" value="{{ result.id }}"/>
                                <input type="hidden" name="action" value="delete"/>
                                <input class="btn btn-danger btn-sm" type="submit" name="submit" value="{{ langs.trans('Delete') }}"/>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}