<!DOCTYPE html>
<html lang="{{ langs.getDefaultLang }}">
<head>
    <title>{{ app_title }}</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="robots" content="noindex,nofollow">
    <meta name="author" content="blacktiehost.com">
    <link rel="shortcut icon" type="image/x-icon" href="{{ main_url }}/themes/{{ theme }}/img/favicon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
          rel="stylesheet">
    {% for cssfile in css_array %}
        <link type="text/css" rel="stylesheet" href="{{ main_url }}/themes/{{ theme }}/css/{{ cssfile }}">
    {% endfor %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="{{ main_url }}/themes/default/js/copy.js"></script>
    <script src="{{ main_url }}/themes/default/js/tooltip.js"></script>
</head>
<body class="d-flex vh-100 flex-column">
<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a class="navbar-brand" href="{{ main_url }}">
            <img src="{{ main_url }}/themes/{{ theme }}/img/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top me-2">
            {{ app_title }}</a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{{ main_url }}"><span>{{ langs.trans('Domains') }}</span></a></li>
                <li><a href="{{ main_url }}/records.php"><span>{{ langs.trans('Records') }}</span></a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle d-none"></i>
        </nav>
        {% if user.id > 0 %}
            <form class="d-flex" role="search" method="post">
                <input type="hidden" name="action" value="search"/>
                <input class="form-control me-2" name="search_string" type="text" placeholder="{{ langs.trans('Search') }}..." aria-label="Search">
                <input class="btn btn-outline-success" type="submit" name="submit" value="{{ langs.trans('Search') }}"/>
            </form>
        {% endif %}
    </div>
</header>
<div class="flex-grow-1">
    <div class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>{{ title }}</h2>
                {% if user.id > 0 %}
                    <ol>
                        {% if user.first_name or user.last_name %}
                            <li><span class="me-3">{{ langs.trans('Hi') }}, <b>{{ user.first_name }} {{ user.last_name }}</b></span></li>
                        {% else %}
                            <li><span class="me-3">{{ langs.trans('Hi') }}, <b>{{ user.username }}</b></span></li>
                        {% endif %}
                        <li><a href="profile.php"><i class="bi bi-person-fill"></i>&nbsp;{{ langs.trans('Profile') }}</a></li>
                        <li><a href="{{ main_url }}?action=logout"><i class="bi bi-box-arrow-right"></i>&nbsp;{{ langs.trans('Logout') }}?</a></li>
                    </ol>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <main id="main">
            <section class="inner-page">
                <div class="container" data-aos="fade-up">
                    {% if error %}
                        <div class="container">
                            <div class="row">
                                <div class="col"></div>
                                <div class="col">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <strong>{{ error }}</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ unset('PM_ERROR') }}
                    {% endif %}
                    {% if message %}
                        <div class="container">
                            <div class="row">
                                <div class="col"></div>
                                <div class="col">
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>{{ message }}</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ unset('PM_MESSAGE') }}
                    {% endif %}
                    {% block body %}{% endblock %}
                </div>
            </section>
        </main>
    </div>
</div>
<footer id="footer" class="footer">
    <div class="footer-legal text-center">
        <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
            <div class="d-flex flex-column align-items-center align-items-lg-start">
                <div class="copyright">
                    &copy; 2020 - 2022 {{ langs.trans('AllRightsReserved') }}
                    <a class="text-reset fw-bold" href="https://blacktiehost.com/">BlackTieHost.com</a>
                </div>
            </div>
            <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                <a href="https://github.com/milenmk" class="github"><i class="bi bi-git"></i></a>
                <a href="skype:milenmk1?chat" class="skype"><i class="bi bi-skype"></i></a>
                <a href="https://www.linkedin.com/in/milen-karaganski-0664a1255/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

        </div>
    </div>
</footer>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>
{% block javascripts %}
    {% for jsfile in js_array %}
        <script src="{{ main_url }}/themes/{{ theme }}/js/{{ jsfile }}"></script>
    {% endfor %}
{% endblock %}
</body>
</html>