{% extends 'base.html.twig' %}
{% block body %}
    <form method="get">
        <input type="hidden" name="action" value="confirm_edit"/>
        <input type="hidden" name="id" value="{{ res2.id }}"/>
        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">{{ langs.trans('Domain') }}</th>
                <th scope="col">{{ langs.trans('Type') }}</th>
                <th scope="col">{{ langs.trans('Link') }}</th>
                <th scope="col">{{ langs.trans('Username') }}</th>
                <th scope="col">{{ langs.trans('Password') }}</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% if res2 > 0 %}
                <tr>
                    <td>
                        <select name="fk_domain">
                            {% for result in res1 %}
                                {% if result.id == res2.fk_domain %}
                                    <option value="{{ result.id }}" selected>{{ result.label }}</option>
                                {% else %}
                                    <option value="{{ result.id }}">{{ result.label }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>

                    <td>
                        <label>
                            <select name="type">
                                <option value="1">DATABASE</option>
                                <option value="2">WEBSITE</option>
                                <option value="3">FTP_SERVER</option>
                            </select>
                        </label>
                    </td>
                    {% if res2.is_db > 0 %}
                        <td><input type="text" name="url" value="{{ res2.dbase_name }}"/></td>
                    {% elseif res2.is_site > 0 %}
                        <td><input type="text" name="url" value="{{ res2.url }}"/></td>
                    {% elseif res2.is_ftp > 0 %}
                        <td> <input type="text" name="url" value="{{ res2.ftp_server }}"/></td>
                    {% endif %}
                    <td>
                    <label>
                        <input type="text" name="username" value="{{ res2.username }}"/>
                    </label>
                    </td>
                    <td>
                        <label>
                            <input type="password" name="password" value="{{ res2.password }}"/>
                        </label>
                    </td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <input class="btn btn-info" type="submit" name="submit" value="{{ langs.trans('Confirm') }}"/>
                            <input type="button" class="btn btn-danger" value="{{ langs.trans('Cancel') }}" onclick="javascript:history.go(-1)">
                        </div>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </form>
{% endblock %}