{% extends 'install.header.html.twig' %}
{% block body %}
    {% set error = 0 %}
    {% if lockerror == 1 %}
        {% set error = 1 %}
        <p></p>
    {% endif %}
    {% if error == 0 %}
        <div class="container">
            <form class="needs-validation mb-5" method="post">
                <input type="hidden" name="action" value="create_admin"/>
                <div class="mb-3 row">
                    <label for="admin_user" class="col-sm-3 col-form-label">{{ langs.trans('Username') }}</label>
                    <div class="col-sm-9">
                        <input type="email" name="admin_user" class="form-control" id="admin_user" required>
                    </div>
                </div>
                <div class="mb-3 row">

                    <label for="validationPassword" class="col-sm-3 col-form-label">{{ langs.trans('Password') }}</label>
                    <div class="col-sm-9 mb-3">
                        <input type="password" name="admin_pass" class="form-control" id="validationPassword" minlength="8" required>
                    </div>
                    <div class="progress" style="height: 5px;">
                        <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%;" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        {{ langs.trans('PasswordWarning1') }}
                    </small>
                    <div id="feedbackin" class="valid-feedback">
                        {{ langs.trans('PasswordWarning2') }}
                    </div>
                    <div id="feedbackirn" class="invalid-feedback">
                        {{ langs.trans('PasswordWarning3') }}
                    </div>
                </div>
                <input class="btn btn-info" type="submit" name="submit" value="{{ langs.trans('Continue') }}"/>
            </form>
        </div>
    {% endif %}
{% endblock %}