{% extends 'admin.base.html.twig' %}
{% block body %}
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>
        <h1 class="h3 mb-2 text-gray-800"><i class="fas fa-solid fa-user"></i>&nbsp;{{ langs.trans('Users') }}</h1>
    </nav>
    <div class="container-fluid">
        <p class="mb-4">{{ langs.trans('UsersDescription') }}</p>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>{{ langs.trans('User') }}</th>
                            <th>{{ langs.trans('EmailAddress') }}</th>
                            <th>{{ langs.trans('RegistrationDate') }}</th>
                            <th>{{ langs.trans('Theme') }}</th>
                            <th>{{ langs.trans('Language') }}</th>
                            <th>{{ langs.trans('IsAdmin') }}?</th>
                            <th>{{ langs.trans('Actions') }}</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>{{ langs.trans('User') }}</th>
                            <th>{{ langs.trans('EmailAddress') }}</th>
                            <th>{{ langs.trans('RegistrationDate') }}</th>
                            <th>{{ langs.trans('Theme') }}</th>
                            <th>{{ langs.trans('Language') }}</th>
                            <th>{{ langs.trans('IsAdmin') }}?</th>
                            <th>{{ langs.trans('Actions') }}</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for result in resultLastXUsers %}
                            <tr id="idRow{{ result.rowid }}">
                                <form method="post">
                                    <input type="hidden" name="action" value="delete_user"/>
                                    <input type="hidden" name="user_id" value="{{ result.rowid }}"/>
                                    <td>{{ result.first_name }} {{ result.last_name }}</td>
                                    <td>{{ result.username }}</td>
                                    <td>{{ result.created_at|date("H:i d-m-Y") }}</td>
                                    <td>{{ result.theme }}</td>
                                    <td>{{ result.language }}</td>
                                    {% if result.admin == 1 %}
                                        <td class="text-center"><i class="bi bi-check-circle-fill" style="color: #008000;"></i></td>
                                        <td></td>
                                    {% else %}
                                        <td class="text-center"><i class="bi bi-x-circle-fill" style="color: #ff0000;"></i></td>
                                        <td style="text-align: center;">
                                            <button class="btn btn-info" onclick="submitRowAsForm('idRow{{ result.rowid }}')">{{ langs.trans('Delete') }}</button>
                                        </td>
                                    {% endif %}
                                </form>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}